<?xml version="1.0"?>
<connectionStrings>
  <add name="My.MySettings.ConnectionString" connectionString="DATA SOURCE=ICGORSV;PASSWORD=icrop_sms;PERSIST SECURITY INFO=True;USER ID=ICROP_SMS" providerName="Oracle.DataAccess.Client" />
  <add name="My.MySettings.2ndConnectionString" connectionString="DATA SOURCE=ICGORSV;PASSWORD=ICROP_SMS;USER ID=ICROP_SMS" providerName="Oracle.DataAccess.Client" />
</connectionStrings>
  