<?xml version="1.0"?>
  <!-- ログ出力 -->
  <system.diagnostics>
    <switches>
      <!-- アプリケーションのログレベルを設定 -->
      <!-- Toyota.eCRB.SystemFrameworks - LogManager で On/Off -->
      <add name="ErrorLog" value="Error"/>
      <add name="WarnLog" value="Warning"/>
      <add name="InfoLog" value="Information"/>
      <add name="TraceLog" value="All"/>
      <add name="ReceiveLog" value="Information"/>
      <add name="SecurityLog" value="All"/>
      <add name="PerformLog" value="Information"/>
      <add name="PerformErrorLog" value="Error"/>
    </switches>

    <sources>
      <source name="ErrorLog">
        <listeners>
          <add name="ErrorLogListener"/>
          <add name="EventLog"/>
        </listeners>
      </source>
      <source name="WarnLog">
        <listeners>
          <add name="WarnLogListener"/>
        </listeners>
      </source>
      <source name="InfoLog">
        <listeners>
          <add name="InfoLogListener"/>
        </listeners>
      </source>
      <source name="TraceLog">
        <listeners>
          <add name="TraceLogListener"/>
        </listeners>
      </source>
      <source name="ReceiveLog">
        <listeners>
          <add name="ReceiveLogListener"/>
        </listeners>
      </source>
      <source name="SecurityLog">
        <listeners>
          <add name="SecurityLogListener"/>
        </listeners>
      </source>
      <source name="PerformLog">
        <listeners>
          <add name="PerformLogListener"/>
        </listeners>
      </source>
      <source name="PerformErrorLog">
        <listeners>
          <add name="PerformErrorLogListener"/>
          <add name="PerformErrorEventLog"/>
        </listeners>
      </source>
    </sources>

    <!-- ログ出力先の追加 -->
    <sharedListeners>
      <!-- ErrorLog -->
      <add name="ErrorLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="iCROP.Web"/>

      <!-- WarnLog -->
      <add name="WarnLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\warn.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- InfoLog -->
      <add name="InfoLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\info.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- TraceLog -->
      <add name="TraceLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\trace.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="3000000" />

      <!-- ReceiveLog -->
      <add name="ReceiveLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\webservice_error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MMdd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- SecurityLog -->
      <add name="SecurityLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\security.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- PerformLog -->
      <add name="PerformLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\performance.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- PerformErrorLog -->
      <add name="PerformErrorLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\performance_error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />
      <add name="PerformErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="iCROP.Web"/>

    </sharedListeners>
  </system.diagnostics>
