<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <!-- フレームワークの設定セクション -->
    <section name="Toyota.eCRB.SystemFrameworks" type="Toyota.eCRB.SystemFrameworks.Configuration.ConfigurationHandler, Toyota.eCRB.SystemFrameworks.Configuration"/>
    <!-- log4netの設定セクション -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <!--セッション管理用のデータベース接続文字列です。-->
    <add name="OracleAspNetConString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PERSIST SECURITY INFO=True;USER ID=ICROP_SMS;Password=ICROP_SMS"/>
    <!--アプリで使用するデータベース接続文字列です。-->
    <add name="My.MySettings.ConnectionString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PASSWORD=ICROP_FSI;USER ID=ICROP_FSI" providerName="Oracle.DataAccess.Client"/>
    <add name="My.MySettings.2ndConnectionString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PASSWORD=ICROP_FSI;USER ID=ICROP_FSI" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- 権限管理 -->
    <authentication mode="Forms">
      <forms loginUrl="~/SC3210101.aspx" protection="All" path="/" cookieless="UseCookies"/>
    </authentication>
    <!-- 全てのページのclientIDModeを「Static」にし、要求の検証機能をOFFにします。 -->
    <pages clientIDMode="Static" validateRequest="false">
      <controls>
        <!-- フレームワークで定義されているカスタムコントロールの定義です。 -->
        <add tagPrefix="icrop" namespace="Toyota.eCRB.SystemFrameworks.Web.Controls" assembly="Toyota.eCRB.SystemFrameworks.Web"/>
      </controls>
      <namespaces>
        <add namespace="Toyota.eCRB.SystemFrameworks.Web"/>
      </namespaces>
    </pages>
    <!-- セッションの管理をオラクルで行うための設定 -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!-- カスタムエラーページの設定 -->
    <customErrors mode="On" defaultRedirect="~/Error/SC3010301.aspx">
      <error statusCode="403" redirect="~/Error/SC3010302.aspx"/>
    </customErrors>
  </system.web>
  <!--認証が必要なページ又はフォルダを指定します。-->
  <!--
  <location path="Pages">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- REST通信設定 -->
  <location path="Services">
    <system.web>
      <!-- 受信データにHTMLタグ入力を許可 -->
      <httpRuntime requestValidationMode="2.0"/>
      <webServices>
        <!-- Postのみを許可し、Soapを拒否 -->
        <protocols>
          <add name="HttpPost"/>
          <remove name="HttpSoap"/>
          <remove name="HttpSoap12"/>
        </protocols>
        <!-- Soapを拒否したことに伴う警告を非表示 -->
        <conformanceWarnings>
          <remove name="BasicProfile1_1"/>
        </conformanceWarnings>
      </webServices>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <Toyota.eCRB.SystemFrameworks>
    <!-- バージョン情報 -->
    <Class Name="VersionInformation">
      <Setting Name="">
        <!-- 
          1.0.0: Sales1A (TCV蓋閉め）
          1.0.1: Sales1A (TCV蓋空け）
          1.1.0: Service1
          1.2.0: Sales1B
         -->
        <Item Name="Version" SerializeAs="System.String" Value="1.3.0"/>
      </Setting>
    </Class>
    <!-- DB接続管理 -->
    <Class Name="ConnectionManager">
      <!-- DBリトライ回数に関する設定 -->
      <Setting Name="">
        <!-- 最大リトライ回数 -->
        <Item Name="MaxConnectionOpenRetry" SerializeAs="System.Int32" Value="2"/>
        <!-- リトライ間隔(単位：ミリ秒) -->
        <Item Name="ConnectionOpenRetryWaitMSec" SerializeAs="System.Int32" Value="100"/>
        <Item Name="SqlCommandTimeout" SerializeAs="System.Int32" Value="300"/>
        <Item Name="SlowQuerySeconds" SerializeAs="System.Int32" Value="300"/>
      </Setting>
    </Class>
    <!-- 画面ID -->
    <Class Name="ScreenUrl">
      <Setting Name="">
        <Item Name="Login" SerializeAs="System.String" Value="~/SC3210101.aspx"/>
        <Item Name="TCV" SerializeAs="System.String" Value="icrop:tcv:openWindow"/>
      </Setting>
    </Class>
    <!-- 権限別トップページ -->
    <Class Name="TopPageUrl">
      <Setting Name="">
        <!-- Gate Keeper (iPod) Login -->
        <Item Name="50" SerializeAs="System.String" Value="SC3090301"/>
        <!-- Service Receptionist (iPod) -->
        <Item Name="52" SerializeAs="System.String" Value="SC3130101"/>
        <!-- ショールームステータスビジュアライゼーション -->
        <Item Name="53" SerializeAs="System.String" Value="SC3210201"/>
        <!-- 部品ステータス -->
        <Item Name="54" SerializeAs="System.String" Value="SC3190402"/>
        <!-- ウェルカムボード -->
        <Item Name="61" SerializeAs="System.String" Value="SC3100304"/>
        <!-- 受付待ち画面 -->
        <Item Name="60" SerializeAs="System.String" Value="SC3130501"/>
      </Setting>
    </Class>
    <!-- セールス・サービス判断 -->
    <Class Name="StaffDivision">
      <Setting Name="">
        <Item Name="52" SerializeAs="System.String" Value="Service"/>
      </Setting>
    </Class>
    <!-- 権限別の処理判断 -->
    <Class Name="Individual">
      <Setting Name="">
        <Item Name="14" SerializeAs="System.String" Value="NonSerch"/>
      </Setting>
    </Class>
    <!-- 履歴管理 -->
    <Class Name="SessionManager">
      <Setting Name="UrlHistory">
        <Item Name="MaxHistoryCount" SerializeAs="System.Int32" Value="10"/>
        <Item Name="MaxHistorySizeKB" SerializeAs="System.Int32" Value="10"/>
      </Setting>
    </Class>
    <!-- 環境設定 -->
    <Class Name="EnvironmentSetting">
      <Setting Name="">
        <Item Name="CountryCode" SerializeAs="System.String" Value="GZ"/>
        <Item Name="GhdAbbreviation" SerializeAs="System.String" Value="GHD"/>
        <Item Name="WordLanguageCode" SerializeAs="System.String" Value="en"/>
        <Item Name="ReleaseDate" SerializeAs="System.String" Value="201112190950"/>
      </Setting>
    </Class>
    <!-- ログ出力設定 -->
    <Class Name="LogManager">
      <Setting Name="">
        <Item Name="EnableErrorLog" SerializeAs="System.String" Value="True"/>
        <Item Name="EnableTraceLog" SerializeAs="System.String" Value="True"/>
        <Item Name="EnableSecurityLog" SerializeAs="System.String" Value="True"/>
        <Item Name="EnableSqlPerformanceLog" SerializeAs="System.String" Value="True"/>
        <Item Name="BaseDirectory" SerializeAs="System.String" Value="D:\LogFiles2\AppLog"/>
        <Item Name="TraceTargetUsers" SerializeAs="System.String" Value="*"/>
      </Setting>
    </Class>
    <!-- バリデーション用正規表現文字列 -->
    <Class Name="Validation">
      <Setting Name="">
        <Item Name="HankakuAlphabetFormat" SerializeAs="System.String" Value="^[a-zA-Z]+$"/>
        <Item Name="HankakuEisuFormat" SerializeAs="System.String" Value="^[a-zA-Z0-9]+$"/>
        <Item Name="HankakuNumberFormat" SerializeAs="System.String" Value="^[0-9]+$"/>
        <Item Name="MailAddressFormat" SerializeAs="System.String" Value="^*"/>
        <Item Name="TagFormat" SerializeAs="System.String" Value="&lt;[a-zA-Z!\?\/]"/>
        <Item Name="RegNoFormat" SerializeAs="System.String" Value="^*"/>
        <Item Name="VinFormat" SerializeAs="System.String" Value="^*"/>
        <Item Name="PhoneNumberFormat" SerializeAs="System.String" Value="^[-0-9]+$"/>
        <Item Name="MobilePhoneNumberFormat" SerializeAs="System.String" Value="^[-0-9]+$"/>
        <Item Name="PostalCodeFormat" SerializeAs="System.String" Value="^*"/>
      </Setting>
      <Setting Name="InvalidCharacters">
        <Item Name="Unicode 6" SerializeAs="System.String" Value="0840-085F,1BC0-1BFF,AB00-AB2F,11000-1107F,16800-16A3F,1B000-1B0FF,1F0A0-1F0FF,1F300-1F5FF,1F600-1F64F,1F680-1F6FF,1F700-1F77F,2B740-2B81F,2728,2733,2734,274C,2754,2755,2764,27A1,27BF,2B05,2B06,2B07,2B55,303D,1F004,1F170,1F171,1F17E,1F17F,1F18E,1F192,1F194,1F195,1F197,1F199,1F19A,1F1E7,1F1E8,1F1E9,1F1EA,1F1EA,1F1EB,1F1EC,1F1EE,1F1EF,1F1F0,1F1F3,1F1F5,1F1F7,1F1F7,1F1F7,1F1F8,1F1F8,1F1F9,1F1FA,1F1FA,1F201,1F202,1F21A,1F22F,1F233,1F235,1F236,1F237,1F238,1F239,1F23A,1F250,3297,3299,20E3,20E3,20E3,20E3,20E3,20E3,20E3,20E3,20E3,20E3,20E3,2122,2196,2197,2198,2199,23E9,23EA,25B6,25C0,2600,2601,260E,2614,2615,261D,263A,2648,2649,264A,264B,264C,264D,264E,264F,2650,2651,2652,2653,2660,2663,2665,2666,2668,267F,26A0,26A1,26BD,26BE,26C4,26CE,26EA,26F2,26F3,26F5,26FA,26FD,2702,2708,270A,270B,270C"/>
        <Item Name="Back Quote" SerializeAs="System.String" Value="0021"/>
      </Setting>
    </Class>
    <!-- ログイン設定 -->
    <Class Name="LoginManager">
      <Setting Name="UserAgent">
        <Item Name="iPad" SerializeAs="System.String" Value="^Mozilla/5.0 \(Windows"/>
        <Item Name="iPhone" SerializeAs="System.String" Value="^Mozilla/5.0 \(iPhone;"/>
        <Item Name="*" SerializeAs="System.String" Value=".*"/>
      </Setting>
    </Class>
  </Toyota.eCRB.SystemFrameworks>
  <!-- 拡張設定 -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="110000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <log4net>
    <!-- アプリログ出力先の定義 -->
    <appender name="ReceiveLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" type="log4net.Util.PatternString" value="%property{BaseDirectory}%property{ReceiveLogDirectory}error"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="DatePattern" value="'.'yyyyMMdd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="rollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" type="log4net.Util.PatternString" value="%property{BaseDirectory}error"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="DatePattern" value="'.'yyyyMMdd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="rollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <appender name="TraceLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" type="log4net.Util.PatternString" value="%property{BaseDirectory}trace%property{TraceLogUser}"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="DatePattern" value="'.'yyyyMMdd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="rollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <appender name="SecurityLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" type="log4net.Util.PatternString" value="%property{BaseDirectory}security"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="DatePattern" value="'.'yyyyMMdd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="rollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <appender name="SQLResponseLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" type="log4net.Util.PatternString" value="%property{BaseDirectory}appl_SQL_RESPONSE"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="DatePattern" value="'.'yyyyMM'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="rollingStyle" value="Date"/>
      <param name="AppendToFile" value="true"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <!-- Eventログ出力用の定義 -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <LogName value="Application"/>
      <!-- イベントのソースに表示される名称を設定 -->
      <applicationName value="iCROP.Web"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd_HH:mm:ss.fff} %-8p %m %exception%n"/>
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <!-- 受信ログの出力設定 -->
    <logger name="ReceiveLogger">
      <appender-ref ref="ReceiveLogFileAppender"/>
    </logger>
    <!-- エラーログの出力設定 -->
    <logger name="ErrorLogger">
      <appender-ref ref="ErrorLogFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </logger>
    <!-- トレースログの出力設定 -->
    <logger name="TraceLogger">
      <appender-ref ref="TraceLogFileAppender"/>
    </logger>
    <!-- セキュリティログの出力設定 -->
    <logger name="Toyota.eCRB.SystemFrameworks.Core.SecurityLogger">
      <level value="INFO"/>
      <appender-ref ref="SecurityLogFileAppender"/>
    </logger>
    <!-- SQLログの出力設定 -->
    <logger name="Toyota.eCRB.SystemFrameworks.Core.SqlResponseLogger">
      <appender-ref ref="SQLResponseLogAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <!-- Pushサーバー(GTMC環境) -->
    <add key="PushServerAddress" value="http://192.168.2.13:4567/cmd/"/>
    <!-- PushサーバーPC基盤用(GTMC環境) -->
    <add key="PushServerAddressPC" value="http://192.168.2.13:4567/cmd/"/>
    <!--受付待ち画面-->
    <!--定期更新間隔-->
    <add key="SC3130501RefreshAllInterval" value="60000"/>
    <!--日付更新間隔-->
    <add key="SC3130501RefreshDateInterval" value="30000"/>
    <!--呼出中切替間隔-->
    <add key="SC3130501RefreshNextPageInterval" value="5000"/>
  </appSettings>
</configuration>