/*--------------------------------------------------------------------------
//SC3240201Common.css
//--------------------------------------------------------------------------
//機能：チップ詳細
//作成：2013/07/31 TMEJ 岩城
//更新：2018/06/26 NSK 可児 TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 START
//更新：
---------------------------------------------------------------------------*/
@charset "utf-8";

#ChipDetailPopupContent{
	font-weight:bold;
	display:block;
	width:385px;
	height:615px;
	position:absolute;
	top:18px; left:514px;
	z-index:902;
	-webkit-transition:left 300ms linear;
}

#ChipDetailPopupContent .OverShadow{
	display:block;
	position:absolute;
	font-size:1px; line-height:1px;
	z-index:100;
	width:375px;
	height:25px;
	top:44px;	left:6px;
	border-radius:4px;
	box-shadow:inset 0px 3px 1px rgba(64,64,64,0.4);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(16,16,16,0.4)), 
							color-stop(0.1, rgba(16,16,16,0.3)),
							color-stop(0.2, rgba(16,16,16,0)),
							to(rgba(16,16,16,0)));
	-webkit-transition:width 300ms linear;	
}

#ChipDetailPopupContent .borderBox{
	display:block;
	width:385px;
	height:615px;
	position:absolute;
	top:0px;	left:0px;
	font-size:1px; line-height:1px;
	z-index:1;
	-webkit-transition:width 300ms linear;
}
#ChipDetailPopupContent .gradationBox{
	display:block;
	width:385px;
	height:615px;
	position:absolute;
	top:0px;	left:1px;
	z-index:2;
	-webkit-transition:width 300ms linear;
}
#ChipDetailPopupContent .myDataBox{
	display:block;
	width:385px;
	height:614px;
	top:0px; left:0;
	border-radius:9px;
	border:#4f4f4f 1px solid;
	box-shadow: 0px 1px 6px #000;
	z-index:2;
	-webkit-transition:width 300ms linear;
}
#ChipDetailPopupContent .ArrowMask{
	display:block;
	position:absolute;
	top:200px;
	left:-17px;
	width:40px;
	height:70px;
	overflow:hidden;
}
#ChipDetailPopupContent .Arrow{
	display:block;
	width:26px;
	height:26px;
	transform: rotate(45deg);
	position:absolute;
	top:4px;
	left:6px;
	border-bottom:1px solid rgba(79,79,79,0.98);
	border-top:1px solid rgba(79,79,79,0.98);
	border-left:1px solid rgba(79,79,79,0.98);
	z-index:1;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(13,23,38, 0.98)),
								to(rgba(13,23,38,0.98)));
}

.scNscPopUpHeaderBg{
	width:385px; height:42px;
	position:absolute;
	top:1px; left:0;
	border-top:#aeb2bb 1px solid;
	border-radius:7px 7px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 203, 208, 0.9)),
								color-stop(0.01, rgba(201, 203, 208, 0.9)),
								color-stop(0.011, rgba(29, 40, 59, 0.9)),
								color-stop(0.50, rgba(29, 40, 59, 0.9)),
								color-stop(0.51, rgba(3, 11, 26, 0.9)),
								to(rgba(13,23,38,0.98)));
	z-index:-1;
	-webkit-transition:width 300ms linear;
}

.scNscPopUpDataBg{
	width:385px; height:572px;
	position:absolute;
	border-radius:0 0 7px 7px;
	background:rgba(13,23,38,0.98);
	top:44px; left:0;
	z-index:-1;
	-webkit-transition:width 300ms linear;
}

#ChipDetailPopupContent .dataBox{
	display:block;
	width:375px;
	height:567px;
	position:absolute;
	top:43px;	left:5px;
	border-radius:5px;
	background:#FFF;
	border:#242c40 1px solid;
	box-shadow:inset 0px 0px 3px #777;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), 
							color-stop(0.6, #fff),
							to(#e6e6e6));
	z-index:10;
	text-align:center;
	-webkit-transition:width 300ms linear;
}

#ChipDetailPopupContent .ChipDetailPopUpHeader {
	position:relative;
	width:385px;
	height:45px;
	z-index:1000;
	text-align:center;
	-webkit-transition:width 300ms linear;
}
#ChipDetailPopupContent .ChipDetailPopUpHeader h3 {
	width:300px;
	font-size:20px;
	line-height:45px;
	color:#FFF;
	text-shadow:0px -1px 0px #000;
    margin:0px auto;
}
#ChipDetailPopupContent .LeftBtn{
	position:absolute;
	left:7px; top:7px;
	width:78px;
	height:30px;
	border-radius:4px;
}
#ChipDetailPopupContent .RightBtn{
	position:absolute;
	right:5px; top:7px;
	width:78px;
	height:30px;
	border-radius:4px;
}
#ChipDetailPopupContent #DetailCancelBtn,
#ChipDetailPopupContent #DetailRegisterBtn{
	display:block;
	background:-webkit-gradient(linear, left top, left bottom, from(#4f5769),
							color-stop(0.01, #4f5769),
							color-stop(0.01, #576174),
							color-stop(0.5, #1a233e),
							color-stop(0.5, #000b29),
							to(#000b29));
	border-radius:4px;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	border:#010205 1px solid;
	width:78px;
	height:30px;
	font-size:12px;
	font-weight:bold;
	line-height:27px;
	text-align:center;
	text-shadow:rgba(0, 0, 0, 0.5);
	color:#FFF;
	z-index:1;
}
#ChipDetailPopupContent #DetailRegisterBtn{
	background:-webkit-gradient(linear, left top, left bottom, from(#6485cc),
							color-stop(0.01, #6485cc),
							color-stop(0.01, #6f96e8),
							color-stop(0.5, #376fe0),
							color-stop(0.5, #2361dd),
							to(#2463de));
}

#ChipDetailPopupContent .IcnSet{
	height:28px;
}
#ChipDetailPopupContent .RightIcnD,
/*2018/06/12 NSK 可児 TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 START */
/*#ChipDetailPopupContent .RightIcnI,*/
/*2018/06/12 NSK 可児 TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 END */
#ChipDetailPopupContent .RightIcnS,
#ChipDetailPopupContent .RightIcnV{
	position:absolute;
	right:40px;
	top:0px;
	width:15px;
	height:14px;
	padding:1px 0 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#9ecf85),
						to(#8cc66d));
	border-radius:2px;
	font-size:12px;
	line-height:12px;
	text-shadow:#999999 0 1px 0;
	text-align:center;
	color:#FFF;
}

/*2018/06/12 NSK 可児 TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 START */
/*#ChipDetailPopupContent .RightIcnI{
	right:20px;
	top:0px;
	width:15px;
	height:14px;
	padding:1px 0 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#9236df),
						to(#9236df));
	text-shadow:#491b6f 0 1px 0;
	color:#FFF;
        position:absolute;					
    border-radius:2px;			
    font-size:12px;			
    text-align:center;			
    text-shadow:0px 1px 0px #666;					
    color:#000;			
    display:inline-block;			
    background-color:#ffff00;    
    line-height:13px; 
}*/

#ChipDetailPopupContent .RightIcnP{
    right:20px;
	top:0px;
	width:15px;
	height:14px;
	padding:1px 0 0 0;
    position:absolute;					
    border-radius:2px;			
    font-size:12px;			
    text-align:center;			
    text-shadow:0px 1px 0px #666;					
    color:#000;			
    background-color:#ffff00;    
    line-height:13px; 
}    
#ChipDetailPopupContent .RightIcnL{
    position:absolute;		
    right:0px;			
    top:0px;			
    width:15px;
    height:14px;			
    padding:1px 0 0 0;			
    border-radius:2px;			
    font-size:12px;			
    text-align:center;			
    text-shadow:0px 1px 0px #666;					
    color:#000;			
    background-color: #00b050;  
    line-height:13px;      
}
/*2018/06/12 NSK 可児 TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 END */
#ChipDetailPopupContent .RightIcnS{
	right:0px;
	top:0px;
	width:15px;
	height:14px;
	padding:1px 0 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#6273f8),
						to(#4459f6));
	text-shadow:#313a84 0 1px 0;
	color:#FFF;
}
#ChipDetailPopupContent .RightIcnV{
	right:0px;
	top:0px;
	width:15px;
	height:14px;
	padding:1px 0 0 0;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, from(#d78600),
						to(#efc600));
	border-radius:2px;
	font-size:12px;
	text-shadow:#4c4c4c 0 1px 0;
	line-height:12px;
	color:#FFF;
}

/*拡大ボタン*/
#ChipDetailPopupContent .Expand{
	position:absolute;
	right:89px; top:7px;
	border-radius:3px;
	width:28px;
	height:27px;
}
#ChipDetailPopupContent #ExpansionButton{
	display:none;
	right:89px; top:7px;
	background:-webkit-gradient(linear, left top, left bottom, from(#576174), 
							color-stop(0.5, #19233e),
							to(#000b29));
	border-radius:3px;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	border:#010205 1px solid;
	width:28px;
	height:27px;
	z-index:1;
}
#ChipDetailPopupContent #ExpansionButton:after{
	content:"";
	display:block;
	position:absolute;
	top:0; left:0;
	background:url(../Images/SC3240201/icon_expand.png) 5px 4px no-repeat;
	width:28px;
	height:27px;
	z-index:2;
}

/*縮小ボタン*/
#ChipDetailPopupContent .Shrink{
	position:absolute;
	right:89px; top:7px;
	border-radius:3px;
	width:28px;
	height:27px;
}
#ChipDetailPopupContent #ShrinkingButton{
	display:none;
	right:89px; top:7px;
	background:-webkit-gradient(linear, left top, left bottom, from(#576174), 
							color-stop(0.5, #19233e),
							to(#000b29));
	border-radius:3px;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	border:#010205 1px solid;
	width:28px;
	height:27px;
	z-index:1;
	background:url(../Images/SC3240201/icon_shrink.png) 0px 0px no-repeat;
}
#ChipDetailPopupContent #ShrinkingButton:after{
	content:"";
	display:block;
	position:absolute;
	top:0; left:0;
	background:url(../Images/SC3240201/icon_shrink.png) 3px 3px no-repeat;
	width:28px;
	height:27px;
	z-index:2;
}

#ChipDetailPopupContent .TextBlue{
	color:#324f85;
}

#ChipDetailPopupContent .TextBlack{
	color:#000;
}

/***************************************************************
* 文字列調整
****************************************************************/
/*文字を設定されたWidthに合わせて強制的に切る*/
.ChipDetailClip{
	text-overflow: clip;
	overflow: hidden;
	white-space: nowrap;
}

/*文字を設定されたWidthに合わせて...表示*/
.ChipDetailEllipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* 2015/04/16 TMEJ 明瀬 ボタンタップでツールチップが表示されてしまう不具合対応 START */
/*文字を設定されたWidthに合わせて...表示(ツールチップなし)*/
.ChipDetailEllipsisNoToolChip{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/* 2015/04/16 TMEJ 明瀬 ボタンタップでツールチップが表示されてしまう不具合対応 END */

/*文字を設定されたWidthに合わせて改行*/
.ChipDetailWrap{
	text-overflow: clip;
	overflow: hidden;
}

/**
 * 詳細ポップアップの納車時間変更履歴表示
 * 
 */
.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv{
	border:#cccccc 1px solid;
	background-color:White;
    display:none;

    /* slideUp時のちらつき防止 */
    overflow:hidden;
}

.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li{
	height:44px;
	border-bottom:#cccccc 1px solid;
	display:block;
	color:#000000;
	padding:0px 0px 3px 4px;
}

.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li.detailLPullButton,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li.detailSPullButton{
	background:#CCC;
	text-align:center;
	height:12px;
	padding:2px 0 0 0;
	color:#FFF;
	font-size:11px;
}

.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li .detailLChangeTimeDiv,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li .detailSChangeTimeDiv{
	font-size:12px;
	font-weight:normal;
	float:left;
    margin:5px 5px 0px 5px;
}
.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li .detailLChangeTimeDiv #DetailLChangeToTimeLabel,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li .detailSChangeTimeDiv #DetailSChangeToTimeLabel{
    font-weight:bold;
}
.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li .detailLUpdateTimeDiv,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li .detailSUpdateTimeDiv{
	font-size:11px;
	color:#666666;
	font-weight:normal;
	float:right;
	margin:5px 5px 0px 5px;
}
.ChipDetailPopStyle .dataBox .detailLInnerDataBox .detailLHeadInfomationPullDiv li .detailLUpdatePretextDiv,
.ChipDetailPopStyle .dataBox .detailSInnerDataBox .detailSHeadInfomationPullDiv li .detailSUpdatePretextDiv{
	font-size:14px;
	font-weight:bold;
    width:100px;
	margin-left:10px;
	margin:0px 0px 0px 5px;
	text-align:left;
}
