/*//////////////////////////////////////////////////////////////////////////////
//
//  フッター設定
//
//////////////////////////////////////////////////////////////////////////////*/
@charset "utf-8";
/* CSS Document */

.footer{
	position:relative;
	width:1024px;
	height:49px;
}
.footerImg{
	overflow:hidden;
	width:1024px;
	height:49px;
}









