<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="IC3040404.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Shanghai"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

    <!-- 以下の2行のセットのデータを、この上の2行に上書きする
　　　　その後、IISのサーバーを再起動する。
    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Shanghai"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

	<add key="CALDAV_TIMEZONE_NAME" value="Asia/Hong_Kong"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Tokyo"/>
    <add key="CALDAV_TIMEZONE" value="GMT+09:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Bangkok"/>
    <add key="CALDAV_TIMEZONE" value="GMT+07:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Kuala_Lumpur"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Calcutta"/>
    <add key="CALDAV_TIMEZONE" value="GMT+05:30"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Australia/Perth"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Seoul"/>
    <add key="CALDAV_TIMEZONE" value="GMT+09:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="America/Sao_Paul"/>
    <add key="CALDAV_TIMEZONE" value="GMT-03:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Manila"/>
    <add key="CALDAV_TIMEZONE" value="GMT+08:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Jakarta"/>
    <add key="CALDAV_TIMEZONE" value="GMT+07:00"/>

    <add key="CALDAV_TIMEZONE_NAME" value="Asia/Tokyo"/>
    <add key="CALDAV_TIMEZONE" value="GMT+09:00"/>
  -->

  </appSettings>
</configuration>
