<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
  <configSections>
    <!-- フレームワークの設定セクション -->
    <section name="Toyota.eCRB.SystemFrameworks" type="Toyota.eCRB.SystemFrameworks.Configuration.ConfigurationHandler, Toyota.eCRB.SystemFrameworks.Configuration" />
  </configSections>

  <connectionStrings>
    <!--セッション管理用のデータベース接続文字列です。-->
    <add name="OracleAspNetConString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PERSIST SECURITY INFO=True;USER ID=ICROP_SMS;Password=ICROP_SMS" />
    <!--アプリで使用するデータベース接続文字列です。-->
    <add name="My.MySettings.ConnectionString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PASSWORD=ICROP_SMS;USER ID=ICROP_SMS" providerName="Oracle.DataAccess.Client" />
    <add name="My.MySettings.2ndConnectionString" connectionString="DATA SOURCE=OSG-WLNW-WS2003;PASSWORD=ICROP_SMS;USER ID=ICROP_SMS" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="None"></authentication>

    <!-- 全てのページのclientIDModeを「Static」にし、要求の検証機能をOFFにします。 -->
    <pages clientIDMode="Static" validateRequest="false">
      <controls>
        <!-- フレームワークで定義されているカスタムコントロールの定義です。 -->
        <add tagPrefix="icrop" namespace="Toyota.eCRB.SystemFrameworks.Web.Controls" assembly="Toyota.eCRB.SystemFrameworks.Web" />
      </controls>
      <namespaces>
        <add namespace="Toyota.eCRB.SystemFrameworks.Web" />
      </namespaces>
    </pages>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>

  <Toyota.eCRB.SystemFrameworks>
    <!-- DB接続管理 -->
    <Class Name="ConnectionManager">
      <!-- DBリトライ回数に関する設定 -->
      <Setting Name="">
        <!-- 最大リトライ回数 -->
        <Item Name="MaxConnectionOpenRetry" SerializeAs="System.Int32" Value="2" />
        <!-- リトライ間隔(単位：ミリ秒) -->
        <Item Name="ConnectionOpenRetryWaitMSec" SerializeAs="System.Int32" Value="100" />
        <Item Name="SqlCommandTimeout" SerializeAs="System.Int32" Value="300" />
        <Item Name="SlowQuerySeconds" SerializeAs="System.Int32" Value="300" />
      </Setting>
    </Class>

    <!-- 画面ID -->
    <Class Name="ScreenUrl">
      <Setting Name="">
        <Item Name="MainMenu" SerializeAs="System.String" Value="~/Pages/SC99003.aspx" />
        <Item Name="Login" SerializeAs="System.String" Value="~/Login.aspx" />
      </Setting>
    </Class>

    <!-- 権限別トップページ -->
    <Class Name="TopPageUrl">
      <Setting Name="">
        <Item Name="1" SerializeAs="System.String" Value="~/Pages/SC99003.aspx" />
        <Item Name="2" SerializeAs="System.String" Value="~/Login.aspx" />
      </Setting>
    </Class>

    <!-- 履歴管理 -->
    <Class Name="SessionManager">
      <Setting Name="UrlHistory">
        <Item Name="MaxHistoryCount" SerializeAs="System.Int32" Value="10" />
        <Item Name="MaxHistorySizeKB" SerializeAs="System.Int32" Value="10" />
      </Setting>
    </Class>

    <!-- 環境設定 -->
    <Class Name="EnvironmentSetting">
        <Setting Name="">
            <Item Name="CountryCode" SerializeAs="System.String" Value="GZ" />
            <Item Name="GhdAbbreviation" SerializeAs="System.String" Value="GHD" />
        </Setting>
    </Class>

    <!-- ログ出力設定 -->
    <Class Name="LogManager">
        <Setting Name="">
            <Item Name="EnableErrorLog" SerializeAs="System.String" Value="true" />
            <Item Name="EnableTraceLog" SerializeAs="System.String" Value="True" />
            <Item Name="EnableSecurityLog" SerializeAs="System.String" Value="true" />
            <Item Name="EnableSqlPerformanceLog" SerializeAs="System.String" Value="TRUE" />
            <Item Name="BaseDirectory" SerializeAs="System.String" Value="C:\temp\eCRBLogs" />
            <Item Name="TraceTargetUsers" SerializeAs="System.String" Value="*" />
        </Setting>
    </Class>

      <!-- バリデーション用正規表現文字列 -->
    <Class Name="Validation">
      <Setting Name="">
            <Item Name="HankakuAlphabetFormat" SerializeAs="System.String" Value="^[a-zA-Z]+$" />
            <Item Name="HankakuEisuFormat" SerializeAs="System.String" Value="^[a-zA-Z0-9]+$" />
            <Item Name="HankakuNumberFormat" SerializeAs="System.String" Value="^[0-9]+$" />
            <Item Name="MailAddressFormat" SerializeAs="System.String" Value="^*" />
            <Item Name="TagFormat" SerializeAs="System.String" Value="&lt;[a-zA-Z!\?\/]"/>
            <Item Name="RegNoFormat" SerializeAs="System.String" Value="^*" />
            <Item Name="VinFormat" SerializeAs="System.String" Value="^*" />
            <Item Name="PhoneNumberFormat" SerializeAs="System.String" Value="^[-0-9]+$" />
            <Item Name="MobilePhoneNumberFormat" SerializeAs="System.String" Value="^[-0-9]+$" />
            <Item Name="PostalCodeFormat" SerializeAs="System.String" Value="^*" />
      </Setting>
      <Setting Name="InvalidCharacters">
        <Item Name="Unicode 6" SerializeAs="System.String" Value="0840-085F,1BC0-1BFF,AB00-AB2F,11000-1107F,16800-16A3F,1B000-1B0FF,1F0A0-1F0FF,1F300-1F5FF,1F600-1F64F,1F680-1F6FF,1F700-1F77F,2B740-2B81F" />
        <Item Name="Back Quote" SerializeAs="System.String" Value="0021" />
      </Setting>
    </Class>

      <!-- ログイン設定 -->
      <Class Name="LoginManager">
          <Setting Name="UserAgent">
              <Item Name="iPad" SerializeAs="System.String" Value="^Mozilla/5.0 \(iPad;" />
              <Item Name="iPhone" SerializeAs="System.String" Value="^Mozilla/5.0 \(iPhone;" />
              <Item Name="*" SerializeAs="System.String" Value=".*" />
          </Setting>
      </Class>
  </Toyota.eCRB.SystemFrameworks>

  <!-- ログ出力 -->
  <system.diagnostics>
    <switches>
      <!-- アプリケーションのログレベルを設定 -->
      <!-- Toyota.eCRB.SystemFrameworks - LogManager で On/Off -->
      <add name="ErrorLog" value="Error"/>
      <add name="WarnLog" value="Warning"/>
      <add name="InfoLog" value="Information"/>
      <add name="TraceLog" value="All"/>
      <add name="ReceiveLog" value="Information"/>
      <add name="SecurityLog" value="All"/>
      <add name="PerformLog" value="Information"/>
      <add name="PerformErrorLog" value="Error"/>
    </switches>

    <sources>
      <source name="ErrorLog">
        <listeners>
          <add name="ErrorLogListener"/>
          <add name="EventLog"/>
        </listeners>
      </source>
      <source name="WarnLog">
        <listeners>
          <add name="WarnLogListener"/>
        </listeners>
      </source>
      <source name="InfoLog">
        <listeners>
          <add name="InfoLogListener"/>
        </listeners>
      </source>
      <source name="TraceLog">
        <listeners>
          <add name="TraceLogListener"/>
        </listeners>
      </source>
      <source name="ReceiveLog">
        <listeners>
          <add name="ReceiveLogListener"/>
        </listeners>
      </source>
      <source name="SecurityLog">
        <listeners>
          <add name="SecurityLogListener"/>
        </listeners>
      </source>
      <source name="PerformLog">
        <listeners>
          <add name="PerformLogListener"/>
        </listeners>
      </source>
      <source name="PerformErrorLog">
        <listeners>
          <add name="PerformErrorLogListener"/>
          <add name="PerformErrorEventLog"/>
        </listeners>
      </source>
    </sources>

    <!-- ログ出力先の追加 -->
    <sharedListeners>
      <!-- ErrorLog -->
      <add name="ErrorLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="iCROP.Web"/>

      <!-- WarnLog -->
      <add name="WarnLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\warn.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- InfoLog -->
      <add name="InfoLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\info.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- TraceLog -->
      <add name="TraceLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\trace.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="3000000" />

      <!-- ReceiveLog -->
      <add name="ReceiveLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\webservice_error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MMdd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- SecurityLog -->
      <add name="SecurityLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\security.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- PerformLog -->
      <add name="PerformLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\performance.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />

      <!-- PerformErrorLog -->
      <add name="PerformErrorLogListener" type="Toyota.eCRB.SystemFrameworks.Core.TraceLogListener,Toyota.eCRB.SystemFrameworks.Core" BaseFilename="C:\temp\eCRBLogs\performance_error.log" Delimiter=" " Encoding="UTF-8" OutputHeaders="DateTime,EventType" LogDateTimeFormat="yyyy/MM/dd_HH:mm:ss.fff" MaxFileSize="0" />
      <add name="PerformErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="iCROP.Web"/>

    </sharedListeners>
  </system.diagnostics>

</configuration>
