<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Toyota.eCRB.iCROP.DataAccess.SC3180201.My.MySettings.ConnectionString"
            connectionString="Data Source=tact;User ID=watool;Password=1234;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="Toyota.eCRB.iCROP.DataAccess.SC3180201.My.MySettings.Toyota_eCRBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Toyota_eCRB;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="Toyota.eCRB.ServerCheck.CheckResult.DataAccess.SC3180201.My.MySettings.ConnectionString"
            connectionString="Data Source=tact;User ID=watool;Password=1234;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="Toyota.eCRB.ServerCheck.CheckResult.DataAccess.SC3180201.My.MySettings.Toyota_eCRBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Toyota_eCRB;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
