/*/-------------------------------------------------------------------------
//Chip.css
//--------------------------------------------------------------------------
//機能：メインメニュー(TC)
//作成：2012/01/16 KN 森下
//更新：2015/04/01 TMEJ 小澤 BTS-261対応 サービス名の表示制御の修正
//更新：2018/07/06 NSK 可児　TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示
//更新：
---------------------------------------------------------------------------*/

@charset "utf-8";

.ChipsBase {
    position:absolute;
	background:#FFF;
	display:block;
	height:45px;
	border-radius:3px;
	z-index:1;
}
.ChipsBaseFilter {
    position:absolute;
	background:#CCC;
	display:block;
	height:47px;
	border-radius:3px;
	opacity:0;
	z-index:0;
}
.ChipsBaseFilterNoTap {
    position:absolute;
	background:#CCC;
	display:block;
	height:45px;
	border-radius:3px;
	opacity:0;
}

/* 文字色 */
.TextColor {
    color:White;
}
.TextColorRezTemp {
    color:Orange;
}
.TextColorRezFix {
    color:Blue;
}
.TextColorDeli {
    color:Green;
}
.TextColorDelay {
    color:Red;
}
.TextColorComp {
    color:Gray;
}

.ChipFrame {
	display:block;
	height:45px;
    border: 1px solid;
	border-radius:3px;
	overflow:hidden;
}
.CFRezTemp {
    border-color:rgba(255, 153, 0, 0.7);
}
.CFRezFix {
    border-color:rgba(0, 0, 255, 0.7);
}
.CFDeli {
    border-color:rgba(51, 204, 51, 0.7);
}
.CFDelay {
    border-color:rgba(255, 0, 0, 0.7);
}
.CFComp {
    border-color:rgba(145, 145, 145, 0.7);
}

.ChipFrame .UpperArea{
	display:block;
	height:25px;
	margin:1px 1px 0;
}

.ChipFrame .lowerArea{
	display:block;
	height:19px;
	position:relative;
	border-radius: 0 0 2px 2px;
	
}

.ChipFrame .Last2IconArea{
	min-width:33px;
	overflow:hidden;
}

/* 0がつくクラスは店舗待ち客用
　 1がつくクラスは預け客用 */
.ChipFrame .LARezTemp0 {
    border-top:#ff9900 1px solid;
}
.ChipFrame .LARezTemp {
    border-top:#ff9900 1px solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), 
						color-stop(0.5, #fb9e05),
						to(#f0c226));
}
.ChipFrame .LARezFix0 {
    border-top:#0000ff 1px solid;
}
.ChipFrame  .LARezFix {
    border-top:#0000ff 1px solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000ff), 
						color-stop(0.5, #050cfb),
						to(#2661e3));
}
.ChipFrame .LADeli0 {
    border-top:#33cc33 1px solid;
}
.ChipFrame  .LADeli {
    border-top:#33cc33 1px solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#33cc33), 
						color-stop(0.5, #38d038),
						to(#60f060));
}
.ChipFrame .LADelay0 {
    border-top:#ff0000 1px solid;
}
.ChipFrame .LADelay {
    border-top:#ff0000 1px solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), 
						color-stop(0.5, #fb0c05),
						to(#e36126));
}
.ChipFrame .LAComp0 {
    border-top:#919191 1px solid;
}
.ChipFrame .LAComp {
    border-top:#919191 1px solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#919191), 
						color-stop(0.5, #a0a0a0),
						to(#c0c0c0));
}

.ChipFrame .UpperArea .titleLine01{
	height:6px;
	text-align:center;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size:6px; line-height:6px;
}
.ChipFrame .UpperArea .titleLine02{
	height:9px;
	text-align:center;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size:9px; line-height:9px;
}

/* チップのロケーション番号 */
.ChipFrame .UpperArea .titleLine03{
	height:9px;
	text-align:center;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size:9px; line-height:14px;
}

.ChipFrame .UpperArea .time{
	height:8px;
	text-align:right;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size:9px; line-height:9px;
}

/*2018/07/06 NSK 可児　TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 START*/
/*Pアイコン*/
.ChipFrame .lowerArea .IconP {
    position:absolute;
    right:1px;
    top:-15px;
    width:15px;
    height:13px;
    background: url(../Images/TKMCommon/15_13_P.png) 0 0 no-repeat;
    overflow:hidden;
}
/*Lアイコン*/
.ChipFrame .lowerArea .IconL {
    position:absolute;
    right:1px;
    top:-15px;
    width:15px;
    height:13px;
    background: url(../Images/TKMCommon/15_13_L.png) center top no-repeat;
    overflow:hidden;
}
/*2018/07/06 NSK 可児　TKM Next Gen e-CRB Project Application development Block B-1  Pマーク、L マークなどを表示 END*/
/* 来店客のPin */
.ChipFrame .lowerArea .AddIcon01{
	display:block;
	width:10px; height:12px;
	position:absolute;
	top:-12px; left:2px;
}
.ChipFrame .lowerArea .WalkInRezTemp {
    background:url(../Images/SC3150101/IconPinA03.png) 0 0 no-repeat;
}
.ChipFrame .lowerArea .WalkInRezFix {
    background:url(../Images/SC3150101/IconPinA04.png) 0 0 no-repeat;
}
.ChipFrame .lowerArea .WalkInDeli {
    background:url(../Images/SC3150101/IconPinA02.png) 0 0 no-repeat;
}
.ChipFrame .lowerArea .WalkInDelay {
    background:url(../Images/SC3150101/IconPinA01.png) 0 0 no-repeat;
}
.ChipFrame .lowerArea .WalkInComp {
    background:url(../Images/SC3150101/IconPinA05.png) 0 0 no-repeat;
}

/* アイコン変更 */
.ChipFrame .lowerArea .AddIcon02{
	float:left;
	display:block;
	width:16px;
	height:18px;
	margin:0px 0 0 0px;
	float:left;
}
.ChipFrame .lowerArea .CrryInRezTemp0 {
    background:url(../Images/SC3150101/IconCarF02.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezTemp1 {
    background:url(../Images/SC3150101/IconCarE02.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezTemp2 {
    background:url(../Images/SC3150101/IconCarE02.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezTemp3 {
    background:url(../Images/SC3150101/IconCarE02.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezTemp4 {
    background:url(../Images/SC3150101/IconCarE02.png) center center no-repeat;
}

.ChipFrame .lowerArea .CrryInRezFix0 {
    background:url(../Images/SC3150101/IconCarF04.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezFix1 {
    background:url(../Images/SC3150101/IconCarE04.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezFix2 {
    background:url(../Images/SC3150101/IconCarE04.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezFix3 {
    background:url(../Images/SC3150101/IconCarE04.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInRezFix4 {
    background:url(../Images/SC3150101/IconCarE04.png) center center no-repeat;
}

.ChipFrame .lowerArea .CrryInDelay0 {
    background:url(../Images/SC3150101/IconCarF01.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInDelay1 {
    background:url(../Images/SC3150101/IconCarE01.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInDelay2 {
    background:url(../Images/SC3150101/IconCarE01.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInDelay3 {
    background:url(../Images/SC3150101/IconCarE01.png) center center no-repeat;
}
.ChipFrame .lowerArea .CrryInDelay4 {
    background:url(../Images/SC3150101/IconCarE01.png) center center no-repeat;
}

/* 着工指示 */
/* 本予約 */
.ChipFrame .lowerArea .InstructRezFix0 {
    background:url(../Images/SC3150101/IconCarD04.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezFix1 {
    background:url(../Images/SC3150101/IconCarC04.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezFix2 {
    background:url(../Images/SC3150101/IconCarC04.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezFix3 {
    background:url(../Images/SC3150101/IconCarC04.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezFix4 {
    background:url(../Images/SC3150101/IconCarC04.png) center center no-repeat;
}
/* 仮予約 */
.ChipFrame .lowerArea .InstructRezTemp0 {
    background:url(../Images/SC3150101/IconCarD02.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezTemp1 {
    background:url(../Images/SC3150101/IconCarC02.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezTemp2 {
    background:url(../Images/SC3150101/IconCarC02.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezTemp3 {
    background:url(../Images/SC3150101/IconCarC02.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructRezTemp4 {
    background:url(../Images/SC3150101/IconCarC02.png) center center no-repeat;
}
/* 遅れ */
.ChipFrame .lowerArea .InstructDelay0 {
    background:url(../Images/SC3150101/IconCarD01.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructDelay1 {
    background:url(../Images/SC3150101/IconCarC01.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructDelay2 {
    background:url(../Images/SC3150101/IconCarC01.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructDelay3 {
    background:url(../Images/SC3150101/IconCarC01.png) center center no-repeat;
}
.ChipFrame .lowerArea .InstructDelay4 {
    background:url(../Images/SC3150101/IconCarC01.png) center center no-repeat;
}

.ChipFrame .lowerArea .AddIconInstruct02{
	float:left;
	display:block;
	width:16px;
	height:18px;
	margin:0px 0 0 0px;
}

/* 入庫予定時間の描画用 */
.ChipFrame .lowerArea .AddIcon02Text{
	float:left;
	display:block;
	width:16px; height:16px;
	background:rgba(255,255,255,1);
	border:rgba(255,255,255,1) 0px solid;
	border-radius:1px;
	text-align:left;
	font-size:6px; line-height:16px;
	padding:0;
}

/* 入庫状態のエリアに作業開始後の状態描画用 */
.ChipFrame .lowerArea .AddIcon02Working{
	float:left;
	display:block;
	width:16px; height:16px;
	background:rgba(255,255,255,1);
	border:rgba(255,255,255,1) 0px solid;
	border-radius:2px;
	padding:0;
}
.ChipFrame .lowerArea .AddIcon02Working li{
	display:block;
	text-align:center;
	font-size:6px; line-height:6px;
}
.ChipFrame .lowerArea .AddIcon02Working li.Down{
	height:4px;
	background:url(../Images/SC3150101/IconDown.png) center center no-repeat;
	
}

.ChipFrame .lowerArea .AddIcon03{
	display:block;
	width:16px; height:17px;	
	margin:0px 1px 0 0;
	float:right;
	background:url(../Images/SC3150101/IconLowerRightA06.png) 0 0 no-repeat;
}
/* 車検アイコン */
.ChipFrame .lowerArea .Inspection {
    background:url(../Images/SC3150101/IconLowerRightTaypeA00.png) -3px 0 no-repeat;
}
.ChipFrame .lowerArea .InspectionRezTemp {
    background:url(../Images/SC3150101/IconLowerRightTaypeA02.png) -3px 0 no-repeat;
}
.ChipFrame .lowerArea .InspectionRezFix {
    background:url(../Images/SC3150101/IconLowerRightTaypeA04.png) -3px 0 no-repeat;
}
.ChipFrame .lowerArea .InspectionDeli {
    background:url(../Images/SC3150101/IconLowerRightTaypeA03.png) -3px 0 no-repeat;
}
.ChipFrame .lowerArea .InspectionDelay {
    background:url(../Images/SC3150101/IconLowerRightTaypeA01.png) -3px 0 no-repeat;
}
.ChipFrame .lowerArea .InspectionComp {
    background:url(../Images/SC3150101/IconLowerRightTaypeA05.png) -3px 0 no-repeat;
}
/* 一般点検アイコン */
.ChipFrame .lowerArea .General {
    background:url(../Images/SC3150101/IconLowerRightTaypeB00.png) -5px 0 no-repeat;
}
.ChipFrame .lowerArea .GeneralRezTemp {
    background:url(../Images/SC3150101/IconLowerRightTaypeB02.png) -5px 0 no-repeat;
}
.ChipFrame .lowerArea .GeneralRezFix {
    background:url(../Images/SC3150101/IconLowerRightTaypeB04.png) -5px 0 no-repeat;
}
.ChipFrame .lowerArea .GeneralDeli {
    background:url(../Images/SC3150101/IconLowerRightTaypeB03.png) -5px 0 no-repeat;
}
.ChipFrame .lowerArea .GeneralDelay {
    background:url(../Images/SC3150101/IconLowerRightTaypeB01.png) -5px 0 no-repeat;
}
.ChipFrame .lowerArea .GeneralComp {
    background:url(../Images/SC3150101/IconLowerRightTaypeB05.png) -5px 0 no-repeat;
}
/* 新車点検アイコン */
.ChipFrame .lowerArea .Newcar {
    background:url(../Images/SC3150101/IconLowerRightTaypeF00.png) -6px 0 no-repeat;
    background-size:112.5%;
}
.ChipFrame .lowerArea .NewcarRezTemp {
    background:url(../Images/SC3150101/IconLowerRightTaypeF02.png) -6px 0 no-repeat;
    background-size:112.5%;
}
.ChipFrame .lowerArea .NewcarRezFix {
    background:url(../Images/SC3150101/IconLowerRightTaypeF04.png) -6px 0 no-repeat;
    background-size:112.5%;
}
.ChipFrame .lowerArea .NewcarDeli {
    background:url(../Images/SC3150101/IconLowerRightTaypeF03.png) -6px 0 no-repeat;
    background-size:112.5%;
}
.ChipFrame .lowerArea .NewcarDelay {
    background:url(../Images/SC3150101/IconLowerRightTaypeF01.png) -6px 0 no-repeat;
    background-size:112.5%;
}
.ChipFrame .lowerArea .NewcarComp {
    background:url(../Images/SC3150101/IconLowerRightTaypeF05.png) -6px 0 no-repeat;
    background-size:112.5%;
}

/* 着工指示 */
/* 待ち */
.ChipFrame .lowerArea .Merchandise {
    background:url(../Images/SC3150101/IconLowerRightTypeG00.png) 0 0 no-repeat;
}
/* 仮予約 */
.ChipFrame .lowerArea .MerchandiseRezTemp {
    background:url(../Images/SC3150101/IconLowerRightTypeG02.png) 0 0 no-repeat;
}
/* 本予約 */
.ChipFrame .lowerArea .MerchandiseRezFix {
    background:url(../Images/SC3150101/IconLowerRightTypeG04.png) 0 0 no-repeat;
}
/* 引取納車 *//*
.ChipFrame .lowerArea .MerchandiseDeli {
    background:url(../Images/SC3150101/IconCarF02.png) 0 0 no-repeat;
}*/
/* 遅れ */
.ChipFrame .lowerArea .MerchandiseDelay {
    background:url(../Images/SC3150101/IconLowerRightTypeG01.png) 0 0 no-repeat;
}
/* 作業完了 */
.ChipFrame .lowerArea .MerchandiseComp {
    background:url(../Images/SC3150101/IconLowerRightTypeG05.png) 0 0 no-repeat;
}

/* 引取チップアイコン */
.ChipFrame .lowerArea .PickUp {
    background:url(../Images/SC3150101/IconLowerRightA03.png) 0 0 no-repeat;
}

/* 納車チップアイコン */
.ChipFrame .lowerArea .Delivery {
    background:url(../Images/SC3150101/IconLowerRightA04.png) 0 0 no-repeat;
}

/* 2012/11/29 TMEJ 河原 【A. STEP2】SA ストール予約受付機能開発 仕分けNO.74対応 START */
/* 完成検査承認待ち */
.ChipFrame .lowerArea .InspectionReq {
    background:url(../Images/SC3150101/IconInspection.png) 0 0 no-repeat;
}
/* 2012/11/29 TMEJ 河原 【A. STEP2】SA ストール予約受付機能開発 仕分けNO.74対応 END */

/* 定期点検の描画用CSS */
.ChipFrame .lowerArea .AddIcon03Periodic{
    position:relative;
	display:block;
	width:16px;
	height:17px;
	margin:0 1px 0 0;
	float:right;
	font-weight:bold;
}
.ChipFrame .lowerArea .AddIcon03Periodic li.UpText{
	display:block;
	text-align:center;
	font-size:11px; 
	line-height:11px;
/* 2015/04/01 TMEJ 小澤 BTS-261対応 サービス名の表示制御の修正 START */
	height:11px;
/* 2015/04/01 TMEJ 小澤 BTS-261対応 サービス名の表示制御の修正 END */
}
.ChipFrame .lowerArea .AddIcon03Periodic li.UnderText{
	display:block;
	text-align:center;
	font-size:6px; 
	line-height:6px;
/* 2015/04/01 TMEJ 小澤 BTS-261対応 サービス名の表示制御の修正 START */
	height:6px;
/* 2015/04/01 TMEJ 小澤 BTS-261対応 サービス名の表示制御の修正 END */
}

/* 休憩チップ */
.ChipRest{
	display:block;
	height:45px;
	background:rgba(0,0,0,0.3);
	border-radius:3px;
	opacity:0.8;
}
.ChipRest .NoData{
	position:relative;
	display:block;
	top:5px; left:0;
	height:35px;
	background:rgba(100,100,100,0.8);
	box-shadow: 1px 1px 2px rgba(51,51,51,0.7);
	margin:0 5px 0 4px;
	border-radius:2px;
}
.NoData .addText{
	font-size:8px; line-height:8px;
	color:#333;
	margin-left:2px;
	text-align:center;
	padding:12px 0 0;
}

/* 使用不可チップ */
.ChipUnavailable {
	display:block;
	height:45px;
	background:rgba(0,0,0,0.5);
	border-radius:3px;
	opacity:0.8;
}
.ChipUnavailable .Unavailable{
	position:relative;
	display:block;
	top:5px; left:0;
	height:35px;
	background:rgba(190,190,190,0.8);
	box-shadow: 1px 1px 2px rgba(51,51,51,0.7);
	margin:0 5px 0 4px;
	border-radius:2px;
}
.Unavailable .addText{
	font-size:8px; line-height:8px;
	color:#333;
	margin-left:1px;
	text-align:center;
	overflow:hidden;
	padding:12px 0 0;
}
